html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: 15px 'Source Code Pro', sans-serif;
  background: url("images/sebastian-svenson.jpg") no-repeat center/cover;
  height: 100vh;
  color: rgb(33, 33, 44);
}

.wrapper {
  max-width: 100%;
  width: 400px;
  margin: 0 auto;
  padding-top: 10%;
}

/* Tabs */
.tabs-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.tab {
  display: inline-block;
  text-align: center;
  margin-left:7px;
  padding: 15px 15px 10px 15px;
  border-radius: 10px 10px 0 0;
  font-family: 'Lato', san-serif;
}

#tab-1 ~ label[for='tab-1'], #tab-2 ~ label[for='tab-2'] {
  background: rgba(233, 243, 233, 0.4);
}

#tab-1:checked ~ label[for='tab-1'], #tab-2:checked ~ label[for='tab-2'] {
  background-color: rgb(219, 235, 229);
}

.content {
  width: 100%;
  display: none;
  padding: 20px;
  background: rgba(233, 243, 233, 0.25);
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(5px);
}

#tab-1:checked ~ .content-1, #tab-2:checked ~ .content-2 {
  display: block;
}

.block {
  display: block;
  margin: 8px 0;
}

form {
  margin: auto;
  width: 70%;
}

.content input, .content select {
  padding: 5px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid white;
  border-radius: 7px;
}

input[type=submit] {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.6);
  font-family: 'Lato', san-serif;
}

.content-2 input[type=submit] {
  margin-top: 10px;
}

input[type=radio] {
  margin: 0 3px;
}